<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Editar Camion</title>
</head>
<body>
    
  <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Editar Camion</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="mb-3">
                    <label for="matricula" class="form-label">Matricula</label>
                    <input type="text" class="form-control" id="matricula" name="matricula"> 
                </div>
                <div class="mb-3">
                    <label for="potencia" class="form-label">Potencia</label>
                    <input type="text" class="form-control" id="potencia" name="potencia">
                </div>
                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo">
                </div>
                <!--tipo-->
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo</label>
                    <input type="text" class="form-control" id="tipo" name="tipo">
                </div>
                <button type="submit" class="btn btn-primary" onclick="editarCamion()">Editar</button>
                
            </form>
        </div>
    </div>
</div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
<script>
    function getMatricula(){
    const url = window.location.href;
    const urlArray = url.split('/');
    const matricula = urlArray[urlArray.length - 1];
    return matricula;
    }

    function editarCamion(){
        const matricula = getMatricula();
        const potencia = document.getElementById('potencia').value;
        const modelo = document.getElementById('modelo').value;
        const tipo = document.getElementById('tipo').value;
        const camion = {
            matricula: matricula,
            potencia: potencia,
            modelo: modelo,
            tipo: tipo
        }
        const url = `http://localhost:3000/camiones/edit/${matricula}`;
        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(camion)
        })
        .then(res => res.json())
        .then(data => {
            console.log(data);
            window.location.href = '/camiones';
        })
    }

document.addEventListener('DOMContentLoaded',function () {
    function getCamion (){
    const matricula = getMatricula();
    const url = `http://localhost:3000/camiones/${matricula}`;
    fetch(url)
    .then(res => {return res.json()})
    .then(data => {
        document.getElementById('matricula').value = data.matricula;
        document.getElementById('potencia').value = data.potencia;
        document.getElementById('modelo').value = data.modelo;
        document.getElementById('tipo').value = data.tipo;
    })
    .catch(err => console.log(err));
    }
    getCamion();
    getMatricula();
})


</script>
</html>